html
    head
       link(rel="stylesheet", href="/static/m.css")
    body
    nav
        ul
            li
                a(href="/") Home Page
            li
                a(href="/page") 2page
            li
                a(href="/pageT") 3page
            li
                a(href="/pageth") 4page
            li
                a(href="/page0") 5page
    article
    article
        h1 work2

        p help3
