html
    head
       link(rel="stylesheet", href="/static/m.css")
        title Kill Me
    body
    nav
        ul
            li
                a(href="/") Home Page
            li
                a(href="/page") 2page
            li
                a(href="/pageT") 3page
            li
                a(href="/pageth") T - dominance2
            li
                a(href="/pagef") T - dominance 3
    article
    article
        h1 work4

        p help4
