nav {
    position: absolute;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    width: 100%;
}

nav ul li {
    float: left;

}

nav ul li a {
    display: block;
    color: rgb(162, 227, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.4s;
}

nav ul li a:hover:not(.active) {
    padding: 14px 16px;
    color: rgb(255, 0, 0);

}